body {
    background-image: url('../img/may-bay.svg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.btn-dang-nhap {
    background-color: #00a87d !important;
    width: 100% !important;
    font-family: "Montserrat SemiBold", sans-serif;
    color: #FFFFFF;
    padding: 5%;
}

