/*#region RegionName*/

/*#endregion */


:root {
    --mau-xanh-chu-dao: #75c392;
}

body {
    background-color: #21344f ;
    font-family: "Montserrat SemiBold", sans-serif;
    background-image: url('../img/bg-home.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0;
    padding: 0;
}

